body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  background-color: floralwhite;
}
main {
  width: 40%;
  height: 30vh;
  background-color: lavender;
  border-radius: 50px;
  margin: 20vh auto;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: all 1s;
}
main:hover {
  transform: scale(1.1);
}
main > div {
  width: 50%;
  margin: 0 auto;
  border: 1px dashed gray;
  border-radius: 50px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.5rem;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}
main div > span {
  font-weight: 700;
  margin-right: 3%;
}
